{% extends 'base.html' %}
{% set bgnum = range(1, 100) | random %}
{% set bgnum = 4 %}
{% if 0 < bgnum <= 1 %}
    {% set bgurl = 'gato.jpeg' %}
{% elif 1 < bgnum <= 2 %}
    {% set bgurl = 'triangulo1.jpeg' %}
{% elif 2 < bgnum <= 3 %}
    {% set bgurl = 'triangulo2.jpeg' %}
{% elif 3 < bgnum <= 100 %}
    {% set  bgurl = 'bg3.jpg' %}
{% endif %}
{% block bgimage %}{{ bgurl }}{% endblock %}
{% block subtext %}
Para O Bem De Todos Os Seres
{% endblock %}
{% block content %}
    <div id="mesa">
    <table id="mesa">
    <tbody>
    <tr>
    <td>
<a href="#"><img src="static/imgs/ensinamentos.png"> </a></td>
<td><a href="#"><img src="static/imgs/praticas.png"> </a></td>
<td><a href="#"><img src="static/imgs/textos.png"> </a></td>
    </tr>
    </tbody>
    </table>
    </div>
{% endblock %}
